[Unit]
Description=A simple QOTD server that serves daily motivational quotes
After=syslog.target network.target

[Service]
Type=simple
User=qotd
WorkingDirectory=/home/qotd
ExecStart=/home/qotd/mqotd

[Install]
WantedBy=multi-user.target